.displayNone {
  display: none;
}

.container {
  position: relative;
  top: 37px;
}

.menuContainer{
margin-top: 10px;
}

.menuGrid {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(220, 220, 220); 
}
.menuItem1 {
  margin: 10px;
}

.menuItem2 {
  font-size: 1.5rem;
  margin: 5px 10px;
  color: #747474;
}

.robDiamondTitle{
  text-align: center;  
}

.robOpen {
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
}

.diamondOpen {
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
}

.displayTitle{
  margin: 20px 0;
  cursor: pointer;
}


.closeMenu {
  margin: 10px 0 20px 0;
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
}


.layoutContainer{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: 4px solid #91c0dc;

}

.logoContainer {
  text-align: center;
  max-height: 220px;
  cursor: pointer;
  margin: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1.2fr 5fr 1.2fr;
  align-items: center;
  justify-content: center;
}

.cartIcon {
margin: 20px;
}

.navgrid {
  display: none;
}
 .title {
  font-weight: 500;
  margin-top: 5px;
 }

.rob {
  color: #2e2e2e;
  letter-spacing: 3px;
}
.diamond {
  color: #2e2e2e;
  letter-spacing: 3px;
}

.hamburgerIcon {
  margin-left: 10px;
  list-style: none;
  cursor: pointer;
  margin: 20px;
}

.navbar ul {
  list-style-type: none;
}

@media (min-width: 768px) {

  .navgrid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
  .menu {
  display: none;
}

 .gridContainer {
 display: grid;
 grid-template-columns: 100%;
}
.cartIcon {
  display: block;
  text-align: center;
}
}