.containerGrid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 20px;
}

.containerGridDesktop {
  display: none;
}

.burgerImage {
  display: block;
  cursor: pointer;
}

.titleItem {
  text-align: center;
  color: #323232;
  font-size: 1.5rem;
  cursor: pointer;
}

.messageIconContainer {
  text-align: end;
  cursor: pointer;
}

.messageIconContainerDesktop {
  display: none;
}

.navOpen {
  background: #ffffff;
  display: block;
}

.navClosed {
  display: none;
  
}

.mobileMenu {
  margin-top: 30px;
  width: 100vw;
} 

.menuClose {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}



.listItem {
  margin: 20px 0 20px 30px;
  text-decoration: none;
  color: #323232;
  list-style: none;
  justify-self: center;
  cursor: pointer;
}


.desktopNav {
  display: none;
}

/* .categoriesListFlex {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
} */

.arrowListItem {
  margin-left: 5px;
}

.mouseLeaveContainer {
  display: inline;
}

@media (min-width: 768px) {

.containerGridDesktop {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 30px;
}

.containerGrid {
  display: none;
}

.desktopNav{
  display: block;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  margin: 0 200px;
}

.listItem {
  margin: 20px 0;
  text-decoration: none;
  color: #000000;
  list-style: none;
  justify-self: center;
  cursor: pointer;
}

.burgerImage {
  display: none;
}

.messageIconContainer {
  display: none;
 }
}