.cookieContainer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 170px;
  background: #717171;
  z-index: 1000;
  border: 2px solid #fff;
}

.cookieContent {
  text-align: center;
  color: #fff;
  margin: 20px 20px 0 20px;
}

.btnGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.btnAccept {
  width: 50%;
  background: #91c0dc;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 22px;
  cursor: pointer;
}

.btnDecline {
  width: 50%;
  background: #91c0dc;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 22px;
  cursor: pointer;
}

.containerGrid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 20px;
}

.containerGridDesktop {
  display: none;
}

.burgerImage {
  display: block;
  cursor: pointer;
}

.burgerImage:focus {
  outline: none !important;
}

.titleItem {
  text-align: center;
  color: #323232;
  font-size: 1.5rem;
  cursor: pointer;
}

.messageIconContainer {
  text-align: end;
  cursor: pointer;
}

.messageIconContainerDesktop {
  display: none;
}

.navOpen {
  display: flex;
  justify-content: center; 
  background: #ffffff;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navOpen:focus {
  outline: none !important;
}

.displayNone {
  display: none;
}

.mobileMenu {
  margin: 30px 20px 20px 30px;
  width: 100vw;
} 

.menuClose {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.categoriesDropDown {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
}

.arrowToggle {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrowToggle:focus {
  outline: none !important;
}

.listItemCategory {
  list-style: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listItemCategory:focus {
  outline: none !important;
}

.listItem {
  margin: 20px 0 20px 0;
  text-decoration: none;
  color: #323232;
  list-style: none;
  justify-self: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listItem:focus {
  outline: none !important;
}

.displayCategories {
  margin: 10px 20px;
  font-size: 1rem;
  font-weight: 300;
  color:#717171;
  cursor: pointer;
}

.categoryListItem {
  margin: 12px;
  outline: none;
}

.desktopNav {
  display: none;
}

.arrowListItem {
  margin-left: 5px;
}


@media (min-width: 768px) {

.containerGridDesktop {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 30px;
}

.containerGrid {
  display: none;
}

.desktopNav{
  display: block;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  margin: 0 110px;
}

.listItem {
  margin: 20px 10px;
  text-decoration: none;
  color: #000000;
  list-style: none;
  justify-self: center;
  cursor: pointer;
}

.burgerImage {
  display: none;

}

.messageIconContainer {
  display: none;
 }
}