.containerGrid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 20px;
}

.titleItem {
  text-align: center;
  color: #323232;
  font-size: 1.5rem;
}

.messageIconContainer {
  text-align: end;
}

.nav {
  /* width: 70wv; */
  display: none;
  
}

.unorderedList {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  width: 50vw;
  margin: 20px auto;
}

.listItem {
  text-decoration: none;
  color: #323232;
  list-style: none;
  justify-self: center;
  cursor: pointer;
}

.catModels {
  list-style: none;
  margin: 7px auto;
  color: #323232;
  font-weight: 700;
}
.categoriesListFlex {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
}

.arrowListItem {
  margin-left: 5px;
}

.mouseLeaveContainer {
  display: inline;
}
