@media (min-width: 768px) {
    .navbar ul{
      display: flex;
      list-style-type: none;
      justify-content: center;
      margin: 20px auto 0 auto;
    }

    .navbar ul li {
        margin: 10px 10px 0 10px;
        font-size: 1.1rem;
        color: #2e2e2e;
        letter-spacing: 3px;
        font-weight: 300;
        text-align: center;
    }
   
    .navbar ul li:hover {
        /* margin: 10px 10px 0 10px; */
        font-size: 1.1rem;
        cursor: pointer;
        transition: all 0.7s ease 0s;
    }

    .menuItem h5 {
      color: #323232;
      font-weight: 400;
      margin: 0 10px;
    }

    .categoryOpen {
      background: #fff;
      height: 200px;
      width: 150px;
      transition: all 0.7s ease 0s;
    }

    .listContainer {
      display: flex;
      flex-direction: column;
    }

    .categoryList {
      text-align: start;
      margin: 5px 0 5px 15px;
      color: #323232;
      font-weight: 400;
      font-size: 14px;
    }

    .categoryClosed {
      
    }
  }