
.searchContainer {
    display: grid;
    grid-template-columns: 70% 30%;
}

.input {
    border: none;
    margin-left: 10px;
    outline: none;
    color: rgb(129, 129, 129);
}

.find {
    text-align: center;
    padding: 20px;
    margin: 20px;
    max-width: 100px;
    background: #91c0dc;
    color: #fff;
    cursor: pointer;
   } 