.container {
    margin: 18px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-family: inherit !important;
    padding: 15px;
}

.subTitle {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(51, 51, 51);
}

.subHeader {
  margin: 0 20px;
  color: rgb(106, 106, 106);
}

.inception {
  font-style: italic;
  font-size: 1.4rem;
  color: rgb(106, 106, 106);
}

.minutes {
  margin: 10px;
  padding: 10px 0;
  color: rgb(106, 106, 106);
}

.heroBtn {
    margin: 20px;
    padding: 10px 80px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background: #91c0dc;
    border: 2px solid #91c0dc;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .paragraph {
    color: rgb(106, 106, 106);
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
    
  }
  
  .paragraph span {
    font-weight: 700;
  }

  .imageContainer{
    position: relative;
}

.boldText {
    font-weight: 700;
}




