.container {
    margin: 10px;
}

.image {
  -webkit-filter: brightness(100%);
}

.image:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.headerTitle {
    text-align: center;
    color: #2e2e2e;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 20px auto;
}

.subTitle1 {
    padding: 0 15px;
    text-align: center;
    color: #2e2e2e;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 10px auto;
}

.CTAbutton {
  border-radius: 3px;
  padding: 10px 25px;
  margin: 14px 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background:#91c0dc;
  color: #fff;
}