  
  .headerTitle {
    margin: 40px;
    color: #2e2e2e;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .contactInfo {
    text-align: center;
    margin: 15px 20px;
    padding: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #5a5a5a;
  }
  
  .label {
    margin: 20px;
    font-size: 1.1rem;
  }
  
  .input {
    outline: none;
    padding: 10px;
    width: 90%;
    margin: 10px 20px;
  }
  
  /* .label {
    margin: 20px 20px 0 20px;
    font-size: 1.1rem;
  } */
  
  .message {
    margin: 20px 20px 0 20px;
  }
  
  .inputMessage {
    /* min-height: 200px; */
    outline: none;
    padding: 10px;
    width: 90%;
    margin: 10px 20px;
  }
  
  .submit {
    text-align: center;
    background: #91c0dc ;
    color: #fff;
    padding: 10px;
    margin: 20px 20px;
    cursor: pointer;
    -webkit-filter: brightness(100%);

  }
  
  .submit:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  .messageSuccess {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
    margin: 20px 20px;
  }

  .heroBtn {
    margin: 20px 40px;
    padding: 10px 60px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background: #91c0dc;
    border: 2px solid #91c0dc;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
   -webkit-filter: brightness(100%);
  }

  .heroBtn:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .heroBtnDesktop {
    display: none;
  }

  @media (min-width: 768px) {

    .form {
      text-align: center;
      margin: 0 300px;
    }
    .heroBtnDesktop{
      display: block;
      padding: 10px 20px;
      text-align: center;
      color: #ffffff;
      border-radius: 2px;
      background: #91c0dc;
      border: 2px solid #91c0dc;
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
    -webkit-filter: brightness(100%);
      margin: 20px 300px;
    }

    .heroBtn{
      display: none;
    }

    .submit {
      display: block;
      padding: 10px 20px;
      text-align: center;
      color: #ffffff;
      border-radius: 2px;
      background: #91c0dc;
      border: 2px solid #91c0dc;
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
    -webkit-filter: brightness(100%);
      margin: 20px 33px 30px 33px;
    }

    .contactInfo {
      text-align: center;
      margin: 15px 300px;
      padding: 15px;
      font-weight: 500;
      line-height: 1.5;
      color: #5a5a5a;
    }
  }
  