.container {
    margin: 0 18px;
  }
  
  /* .displayNone {
    display: none;
  } */
  
  .titleMain {
    text-align: center;
    margin: 20px;
  }
  
  .contactInfo {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .label {
    margin: 20px;
    font-size: 1.1rem;
  }
  
  .input {
    outline: none;
    padding: 10px;
    width: 90%;
    margin: 10px 20px;
  }
  
  .phone {
    margin: 20px 20px 0 20px;
    font-size: 1.1rem;
  }
  
  .message {
    margin: 20px 20px 0 20px;
  }
  
  .inputMessage {
    /* min-height: 200px; */
    outline: none;
    padding: 10px;
    width: 90%;
    margin: 10px 20px;
  }
  
  .submit {
    text-align: center;
    background: #91c0dc ;
    color: #fff;
    padding: 10px;
    margin: 20px 20px;
    cursor: pointer;
  }
  
  .submit:hover {
    border: solid 2px rgb(201, 191, 191);
    cursor: pointer;
  }
  
  .messageSuccess {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
    margin: 20px 20px;
  }

  .heroBtn {
    margin: 20px 40px;
    padding: 10px 60px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background: #91c0dc;
    border: 2px solid #91c0dc;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
  }
  