html,
body {
  padding: 0;
  margin: 0;
  font-family: futura-pt, Arial,sans-serif;
  /* font-family: inherit !important; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    letter-spacing: 3px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
}

.swiper-pagination-bullet {
  /* display: inline-block; */
  /* width: 0.5rem !important;
  height: 0.5rem !important; */
}

.swiper-pagination-bullet-active {
  background-color: #2c2c2c !important;
}

.swiper-pagination{
  /* position: absolute;
  bottom: 0 !important;
  background: #ffffff; */
  
}

.swiper-pagination-horizontal {
  /* padding-top: 20px; */

}