/* color for 'Rob' on the title: #a37e2c */

/* BTN */
.heroBtn {
  margin: 10px auto 20px auto;
  padding: 10px 80px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background: #91c0dc;
  border: 2px solid #91c0dc;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.readMoreBTN {
  margin: 10px 0;
  padding: 10px 80px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background: #91c0dc;
  border: 2px solid #91c0dc;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}
.heroImageDesktop{
  display: none;
}
.readyFor {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.collectionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.collectionTitle {
  font-size: 1.4rem;
  margin: 15px;
}

.grid {
  -webkit-filter: brightness(100%);
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.grid:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.gridContent {
  margin: 5px;
}

.gridTitleRolex {
  font-size: 0.8rem;
  margin: 2px;
}

/* BLOG SECTION */

.blogContent{
  display: none;
}
.blog {
  margin: 30px;
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-filter: brightness(100%);
}

.blog:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.blog p {
  margin: 20px auto;
  z-index: 100;
}

.blogImage {
  /* position: relative; */
  z-index: -1000;
}

.blogCaption p {
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  margin: 20px 10px 0 10px; 
}

.bannerBottom {
  min-height: 100px;
  width: 100vw;
  background: #a37e2c;
  padding-top: 13px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #2e2e2e;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.space {
  margin-top: 80px;
}

.heroContent{
  z-index: 1;
}

.caption {
  text-align: center;
  font-size: 1.3rem;
  margin: 40px 20px 20px 20px;
  color: #1f1f1f;
}
  
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #006039;
  text-decoration: none;
  border: 1px solid #a37e2c;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  cursor: pointer;
}

.card h2{
  text-align: center;
}

.card:focus,
.card:active {
  color: #006039;
  border-color: #a37e2c;
}

.card:hover{
  color: #fff;
  background-color: #006039;
}


.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.viewDetailsBTN{
  border: solid 2px #a37e2c;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 14px 60px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background:#91c0dc;
  color: #fff;
}

.viewDetailsBTN:hover{
  color: #fff;
}

@media (min-width: 768px) {

  .heroImage{
    display: none;
  }

  .heroImageDesktop{
    display: block;
  }

  .collectionTitle{
    font-size: 2rem;
    margin-top: 50px;
  }

  .collectionGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  }
  .grid {
    margin: 30px 40px;
    cursor: pointer;
  }

  .gridContent{
    font-size: 1rem;
  }

  .blogContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 20px;
  }

  .blogContent{
    display: block; 
  }

  .blogContent p{
    font-size: 1rem !important;
    color: #2e2e2e;
    letter-spacing: 3px;
    line-height: 1.5;
    font-weight: 500;
    margin: 20px;
 
  }

  .blogContainer p{
    margin-top: 30px;
    font-size: 2rem;
  }

  .blog p{
    margin-top: -40px;
    z-index: 100;
  }

  .blogCaption{
    display: none;
  }

  .theLatest{
    display: none;
  }
  .theLatestDesktop{
    display: block;
  }
  .card {
    min-height: 200px;
  }

  .middleCard {
    text-align: center;
    font-size: 1.3rem;
  }
    
    .imageBanner {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }

    .bluezyTitle {
      text-align: center;
      margin: 20px;
    }
    
    .contentBluezy {
      margin: 20px;
    }
    
    .blueRolexImage {
      text-align: center;
      margin-top: 20px;
    }
  
    .imageGrid {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
    }

    .viewDetailsBTN {
      margin: 0 300px;
    }

    .bannerBottom {
      padding: 25px;
      margin-bottom: 50px;
    }
  }
