/* color for 'Rob' on the title: #a37e2c */

.container {
}
.heroBtn {
  margin: 20px 40px;
  padding: 10px 60px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background: #4d748a;
  border: 2px solid #4d748a;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.collectionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.collectionTitle {
  font-size: 1.4rem;
  margin: 15px;
}
.grid1 {
  height: 180px;
  width: 180px;
  border: 1px solid grey;
  margin: 10px;
}

.grid2 {
  height: 180px;
  width: 180px;
  border: 1px solid grey;
  margin: 10px;
}
.bannerBottom {
  min-height: 100px;
  width: 100vw;
  background: #a37e2c;
  padding-top: 13px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bluezyTitle {
  text-align: center;
}

.bluezyTitle h2 {
  margin-top: 150px;
}

.tagline h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  padding-top: 30px;
}

.tagline {
  min-height: 100px;
  min-width: 100vw;
  background: rgb(41, 41, 41);
}

.contentBluezy {
  padding: 20px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #2e2e2e;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
 

.heroContent{
  z-index: 1;
}

.caption {
  text-align: center;
  font-size: 1.5rem;
  margin: 40px 20px 20px 20px;
  color: #2e2e2e;
}
  

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #006039;
  text-decoration: none;
  border: 1px solid #a37e2c;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  cursor: pointer;
}

.card h2{
  text-align: center;
}

.card:focus,
.card:active {
  color: #006039;
  border-color: #a37e2c;
}

.card:hover{
  color: #fff;
  background-color: #006039;
}


.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.viewDetailsBTN{
  border: solid 2px #a37e2c;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 14px 60px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background:#00ddec;
  color: #fff;
}

.viewDetailsBTN:hover{
  color: #fff;
}

@media (min-width: 768px) {

  .heroImage{
    position: relative;
    top: -40px;
  }
  .grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    max-width: 1100px;
  }

  .card {
    min-height: 200px;
  }

  .middleCard {
    text-align: center;
    font-size: 1.3rem;
  }
    
    .imageBanner {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }

    .bluezyTitle {
      text-align: center;
      margin: 20px;
    }
    
    .contentBluezy {
      margin: 20px;
    }
    
    .blueRolexImage {
      text-align: center;
      margin-top: 20px;
    }
  


    .imageGrid {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
    }

    .viewDetailsBTN {
      margin: 0 300px;
    }

    .bannerBottom {
      padding: 25px;
      margin-bottom: 50px;
    }
  }
