.container {
margin: 20px;
text-align: center;
}

.title{
    display: grid;
    text-align: center;
    border-bottom: solid 2px #006039;
    text-align: center;
}

.title h1{
    margin-bottom: 20px;
}


.productContainer{
    border: solid 1px #afaeae;
    margin-top: 40px;
}

.productContainer h2{
    text-align: center;
    margin: 30px 0;
}

.viewDetailsBTN{
    border: solid 2px #a37e2c;
    padding: 10px 30px;
    margin: 10px 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: #006039;
}

.viewDetailsBTN:hover{
    color: #fff;
    background-color: #006039;
}

.reviewGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin: 10px;
}

.reviewName{
    font-size: 1.1rem;
    font-weight: 500;
}

.reviewDate{
    font-size: 1.1rem;
    font-weight: 500;
}

.reviewDescription{
    margin: 20px 10px 30px 10px;
}