.container {
text-align: center;
}

.backButton {
    margin: 20px 10px;
    color:#a37e2c;
    cursor: pointer;
    text-align: left;
}

.title h1{
    margin-bottom: 20px;
}

.headerTitle {
  margin: 20px auto 5px auto;
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.catDescription {
    line-height: 1.6;
  padding: 20px;
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}

.productTitle {
  color: #2e2e2e;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
}

.productContainer{
    border: solid 1px #afaeae;
    margin: 20px auto 40px auto;
}

.productContainer h2{
    text-align: center;
    margin: 30px 0;
}

.viewDetailsBTN{
    border: solid 2px #91c0dc;
    border-radius: 2px;
    padding: 10px 30px;
    margin: 10px 30px;
    font-size: 1rem;
    font-weight: 500;
    color: #2e2e2e;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
}

.viewDetailsBTN h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #2e2e2e;
    letter-spacing: 3px;
    text-align: center;
}

.viewDetailsBTN:hover{
    color: #fff;
    background-color: #91c0dc;
}

.reviewGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin: 10px;
}

.reviewName{
    font-size: 1.1rem;
    font-weight: 500;
}

.reviewDate{
    font-size: 1.1rem;
    font-weight: 500;
}

.reviewDescription{
    margin: 20px 10px 30px 10px;
}

.featuredGrid {
    display: grid;
    grid-template-columns: 50 50;
}

@media (min-width: 768px) {

    .mainContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .productContainer {
        margin: 20px;
    }

    .catDescription {
        margin: 40px;
    }
}