.videoGrid{
display: flex;
justify-content: center;
}

.swiper{
    padding: 0;
}

.title{
    margin: 20px 20px;
    text-align: center;
}

.breadcrumb{
    margin: 20px;
    color:#a37e2c;
    cursor: pointer;
}

.imageContainer{
    position: relative;
}

.leftArrow {
    position: absolute;
    top: 150px;
    left: 20px;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 150px;
    right: 20px;
    cursor: pointer;
}

.viewDetailsBTN{
    border: solid 2px #a37e2c;
    padding: 10px 30px;
    margin: 14px 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.viewDetailsBTN:hover{
    color: #006039;
}

.specContainer{
    /* margin-top: 20px; */
    /* padding: 20px;
    display: flex;
    justify-content: space-around; */
}



.specValueContainer{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 01.5rem;
}

.specValue{
    padding: 5px 10px;
}

.specValueinBetween{
    padding: 5px;
}
.descriptionSmallContainer{
    text-align: center;
    margin: 15px 15px 0 15px ;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

.description{
    margin: 20px;
    padding: 10px;
}

.addToBasketBtn {
    display: block;
    text-align: center;
    background: #006039;
    color: #fff;
    padding: 15px;
    margin: 8px 30px;
    min-width: 150px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
}

.addToBasketBtn:hover{
    color: #fff;
    background:#a37e2c;
}

  .addSuccessMessage {
    text-align: center;
  }

  .checkoutBtn {
    display: block;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 15px;
    margin: 10px 30px;
    min-width: 150px;
    border-radius: 2px;
    border: solid 2px #000;
    cursor: pointer;
  }

  .checkoutBtn:hover{
      background: #000;
      color: #fff;
  }

  .displayNone{
      display: none;
  }


  .price {
      text-align: center;
      font-weight: 500;
      font-size: 1.2rem;
  }

  .label {
    color: #212121;
    letter-spacing: 3px;
    font-weight: 500;
    margin-left: 20px;
  }

  .labelDescription {
    color: #5b5b5b;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 3px 0 20px 20px;
  }

  .space {
    margin: 30px;
  }